<div class="page-header">

    <h1><%= user.local.name || user.facebook.name || user.meetup.name %></h1>

    <a href="/logout" class="btn btn-default btn-sm">Logout</a>

</div>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="well">

          <% if(user.facebook.id ) {%>
            <h3>Facebook User</h3>
          <% } else if(user.meetup.id ) {%>
            <h3>Meetup User</h3>
          <% } else { %>
            <h3>Locally Stored User</h3>
          <% } %>

            <p>
                <strong>Name</strong>: <%= user.local.name || user.facebook.name || user.meetup.name %><br>
                <strong>id</strong>:<span id="user_id"> <%= user._id %></span><br>
                <strong>email</strong>: <%= user.local.email || user.facebook.email %><br>
                <strong>city</strong>: <%= user.local.city,user.local.state || user.meetup.city,user.meetup.state %><br>
    
            </p>

          <% if(user._id){ %>
            <button type="button" id="delete_user">Delete Account</button>
          <% } %>
            <script>
            $("#delete_user").on('click',function(){
          		$.ajax({
          			url: "/profile",
          			method: 'DELETE',
          			success: function(data){
          				console.log("user deleted")
                  window.location.replace('/signup')
                }
              })
            })
          </script>
        </div>
    </div>
</div>
